@import "variables"; 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

html,
body,
main {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: $white;
  color: $black;
}


head {
  display: none;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-height: 3rem;
  min-width: 3rem;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  font-weight: 500;

  &.btn-square {
    padding: 0.5rem;
  }

  svg, .icon, img {
    height: 1.5rem;
  }

  &.outline {
    border: 1px solid;
    border-radius: 8px;
  }
}

.block {
  display: block;
}