@import "base";
@import "variables";

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.skip-link {
  position: absolute;
  top: -8rem;
  left: 0;
  margin: 1rem;
  background-color: $secondary;
  color: white;
  padding: 0.5rem;
  z-index: 10000;
}

.skip-link:focus {
  top: 0;
}

.logo {
  display: flex;
  gap: 0.5rem;
  height: 3rem;
  align-items: center;
  letter-spacing: 0.25rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;

  .icon {
    cursor: pointer;
    height: 1.5rem;
    background-color: transparent;
  }

  span {
    height: 1.5rem;
    width: 2px;
    background-color: $white;
    border-radius: 99px;
  }

  @media screen and (max-width: 480px) {
    font-size: 1rem;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  min-height: 3rem;
  background-color: $primary;
  color: $white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 100;

  div {
    display: flex;
    justify-content: space-between;
  }

  button {
    color: $white;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0;
    margin: 0;

    li {
      &.active {
        background-color: $secondary;
      }

      a {
        color: $white;
        text-decoration: none;
        padding: 1rem;
        display: block;
      }
    }
  }
}

#drawer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
  width: 18rem;
  height: 100dvh;
  background-color: $primary;
  color: $black;
  box-shadow: -4px 0 4px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
  z-index: 1000;

  &.hide {
    transform: translate(18rem, 0);
  }

  &.show {
    transform: translate(0, 0);
  }

  .drawerContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0.5rem;

    button {
      width: 3rem;
      height: 3rem;
      margin-inline-start: auto;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 0;
      margin: 0 -0.5rem;
      text-align: end;
      font-weight: 700;

      li {
        &.active {
          background-color: $secondary;
        }

        a {
          color: $white;
        }
      }
    }
  }

  .drawerFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary;
    height: 3rem;
    color: $white;
    font-size: 0.8rem;
  }
}

main {
  > :nth-child(1) {
    margin-top: 3rem;
  }

  .home,
  .favorites,
  .detail {
    margin-bottom: 2rem;
  }

  .favorites {
    margin-top: 5rem;
  }
}


header {
  color: $white;
  min-height: 40vh;
  overflow: hidden;

  .container {
    padding: 0;
    position: relative;
  }

  .heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vh;

    picture {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .heroContent {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: $md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;

  .cardHeader {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    .cardImage {
      width: 100%;
      aspect-ratio: 4/3;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .cardBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;

    .cardInfo {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.8rem;
      font-weight: 400;

      svg {
        height: 1rem;
      }

      .cardRating,
      .cardCity {
        display: flex;
        align-items: center;
        gap: 0.2rem;
      }

      .cardRating > svg {
        color: $primary;
        fill: $primary;
      }

      .cardCity > svg {
        color: $blue;
        fill: $blue;
      }
    }

    .cardTitle {
      font-size: 1.2rem;
      font-weight: 700;
    }

    .cardText {
      font-size: 0.9rem;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .cardAction {

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3rem;
        color: $white;
        background-color: $primary;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}

.restaurantList {
  .title {
    margin: 1rem 0;
  }
}

.contact {
  height: calc(100vh - 3rem);
  color: $white;
  background-color: $secondary;
  background-image: url('../public/images/contact-background.jpg');
  background-size: cover;
  background-position: center;

  .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);

    .container {
      width: 100%;
    }
  }

  .flexContact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    div, form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }

    @media screen and (max-width: $md) {
      margin-top: 1rem;
      grid-template-columns: 1fr;
    }
  }

  p {
    font-size: 1.3rem;
    font-weight: 500;
  }

  label {
    display: flex;
    flex-direction: column;

    > * {
      margin-top: 0.5rem;
      min-height: 3rem;
      border-radius: 0.5rem;
      border: 1px solid $white;
      background-color: $white;
    }

    > textarea {
      min-height: 9rem;
    }
  }

  button {
    background-color: $primary;
    color: $white;
  }

  @media screen and (max-width: $md) {
    h2, p {
      text-align: center;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  color: $white;
  padding: 1rem 0;
  font-size: 0.8rem;
}

/* UTILS */
.showOnMobile {
  display: none;

  @media (max-width: $md) {
    display: block;
  }
}

.hideOnMobile {
  @media (max-width: $md) {
    display: none;
  }
}

.lineClamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

// DETAIL STYLING
#detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  #detailHeader {
    display: grid;
    margin: 0 -0.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
    width: calc(100% + 1rem);
    aspect-ratio: 2/1;
    overflow: hidden;

    @media (max-width: $sm) {
      aspect-ratio: 3/2;
    }

    #detailImage {
      grid-row: 1 / 11;
      grid-column: 1 / 2;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    #detailInfo {
      padding: 0 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: end;
      grid-row: 9 / 11;
      grid-column: 1 / 2;
      background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(244, 244, 244, 1) 50%, rgba(244, 244, 244, 1) 100%);

      @media (max-width: $sm) {
        grid-row: 7 / 11;
        flex-direction: column;
        justify-content: end;
        align-items: start;
      }

      > div {
        display: flex;
        align-items: center;
        font-size: 1.1rem;
        gap: 1rem;
        height: 60%;

        @media (max-width: $sm) {
          height: 30%;
        }
      }

      .detailRating,
      .detailCity {
        display: flex;
        align-items: center;
        gap: 0.2rem;

        svg {
          height: 1.1rem;
        }
      }

      .detailRating > svg {
        color: $primary;
        fill: $primary;
      }

      .detailCity > svg {
        color: $blue;
        fill: $blue;
      }
    }
  }

  #detailBody {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h3 {
      margin-top: 0.5rem;
    }

    #detailMenus {
      display: flex;
      justify-content: start;
      gap: 4rem;

      @media (max-width: $sm) {
        flex-direction: column;
        gap: 0.5rem;
      }

      ul {
        margin-left: 1.5rem;
      }
    }

    #detailReviews {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .detailReview {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        .detailReviewHeader {
          i {
            font-size: 0.8rem;
          }
        }
      }
    }
  }

  #favoriteButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    button {
      padding: 0;
    }

    svg {
      height: 1.7rem;
      stroke-width: 2;
      stroke: red;
    }
  }
}

.emptyState {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: calc(100vh - 5rem);
}